@import "compass";
@import "partials/variables.scss";
@import "partials/mixins";
@import "partials/base.scss";
@import "compass/css3";

.adrienne-wheeler {
    margin: 0 30px 30px 0;
    padding-top: 20px;
}

.alternate-color {
    background-color: #FFFFFF;

    &:nth-child(odd) {
        background-color: red;
    }
}

.amazon-button-container {
    padding: 10px;
    min-width: 60px;
    width: 100%;
    line-height: 16px;
    font-size: 16px;
    background: $crimsonsky;
}

.animate-element {
    -webkit-animation-duration: .5;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.ask {
    padding-top: 5px;
    font-size: 25px;
    vertical-align: middle;
    text-transform: uppercase;
}

.ask-btn {
    padding-top: 11px;
    max-width: 170px;
    background-color: $crimsonsky;
    border-left: 1px solid $lightblue;
    height: 60px;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.backgroundFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    z-index: 91;
}

.border-bottom {
    border-bottom: 1px solid $lightblue;
}

.brand {
    max-height: 60px;
    width: auto;
}

.btn-container {
    padding-top: 20px;
}

.category-image {
    margin: 0 auto;
    padding-top: 40px;
}

.category-text {
    font-size: 10px !important;
    text-align: center;
}

.center-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.col-xs-6 {
    min-width: 200px;
}
.contain-image {
    overflow: hidden;
}

.container {
    padding-left: 60px !important;
    padding-right: 60px !important;
    background-color: white;
}

.container-fluid {
    background-color: white;
}

.date {
    font-weight: 600;
}

.description {
    padding-top: 40px;
}

.drop-down-navigation {
    position: absolute;
    top: 60px;
    left: 20px;
    padding: 0 20px 20px 20px;
    background: white;
    border-bottom: 1px solid $lightblue;
    border-left: 1px solid $lightblue;
    border-right: 1px solid $lightblue;
    border-radius: 5px;
    z-index: 100;
}

.drop-down-title {
    font-size: 17px;
}

.fa-caret-down {
    position: absolute;
    top: 20px;

    &:hover {
        cursor: pointer;
    }
}

.fa-caret-up {
    color: #333;
    padding: 20px;

    &:hover {
        cursor: pointer;
    }
}

.fa-search {
    display: inline-block;
    padding: 15px 20px 0 0;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 90;
}

.flow-left {
    float: left;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: $indigo;
    color: white;
    font-size: 1.1rem;
}

.full-width {
    display: flex;
    height: 205px;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transition: transform .2s ease-in-out;
    }
}

.flow-right {
    float: right;
}

.heading-title {
    font-weight: 600;
}
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: white;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $crimsonsky;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: white;
}

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.index-description {
    padding-top: 20px;
}

.hide-mobile {
    padding: 0 !important;
}

.horizontal-separator {
    margin-top: 40px;
    height: 1px;
    width: 100%;
    background-color: $indigo;
    opacity: 0.3;
}

.image-item {
    margin: 0 auto;
    padding: 20px;
    max-height: 500px !important;
}

.images {
    margin: 0 auto;
    max-height: 165px !important;
}

.image-container {
    margin-top: 40px;
    -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.19);
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.19);
}

.images-container {
    width: 100%;
    padding: 40px 0;
    height: 190px !important;
}

.item-title {
    padding-top: 55px;
}

.indigo-background {
    background-color: $indigo;
}

.inner-comparison {
    padding: 10px;
    min-width: 60px;
    line-height: 16px;
    font-weight: 500;
    color: $ultramarine;
}

.inner-container {
    padding: 10px;
    min-width: 60px;
    width: 100%;
    line-height: 16px;
    font-size: 16px;
    background-color: $crimsonsky;
}

.inline-block {
    display: inline-block;
}

.item {
    padding: 70px 0 0 20px;
}

.links-extra {
    margin-left: -40px;
    padding: 10px 0;
    color: $lightblue;
}

.location {
    display: block;
    height: 30px;
}

.lowercase {
    text-transform: lowercase;
}

.maintenance {
    padding-top: 20%;
    text-align: center;
    font-size: 30px;
    color: white;
}

.main-image-container {
    padding-top: 20px;
}

.ml-n-40 {
    margin-left: -40px;
}

.mobile-title-image {

    overflow: hidden;
}

.mobile-show-title {
    display: none;
}

.nav-image-container {
    text-align: center;
    width: auto;
    margin: 0 auto;
}

.nav-links {
    display: block;
    padding: 0 20px;
}

.navigation-image {
    display: inline-block;
    padding: 10px;
    width: auto;
    height: 60px;

    &:hover {
        transform: scale(1.25,1.25);
    }
}

.no-display {
    display: none;
}

.not-exist {
    padding-top: 40px;
    text-align: center;
}

.number-links {
    display: inline-block;
    margin-right: 2px;
    padding: 0 5px;
    border: 2px solid $crimsonsky;
    background-color: $indigo;
    color: white !important;

    a {
        color: white !important;
    }
}

.number-margin {
    margin-left: -20px;
}

.own-line {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
}

.parallax {
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.page-navigation {
    padding-bottom: 20px !important;
    list-style-type: none;
}

.page-title {
    padding-top: 200px;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}

.p-20 {
    padding: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-55 {
    padding-top: 55px;
}

.ptb40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-tb-40 {
    padding: 40px 0 !important;
}

.place-number {
    font-size: 16px;
}

.place {
    font-size: 12px;
    text-transform: uppercase;
}

.placement {
    text-transform: uppercase;
    color: white;
}

.preview-image {
    max-height: 110px;
}

.pt-15 {
    padding-top: 25px;
}

.quick-links {
    display: inline-block;
    margin-top: 20px;
    padding: 0 20px 30px 20px;
    border: 1px solid $lightblue;
}

.root-element {
    position: relative;
}

.search {
    height: 60px;
}

.search-input {
    display: inline-block;
    width: 100%;
}

.separator {
    display: inline-block;
    height: 60px;
    width: 1px;
    background-color: $lightblue;
    box-sizing: border-box;
}

.share-icons-container {
    padding-left: 20px;
    display: inline-block;
    padding-top: 20px;
}

.show-mobile {
    display: none;

    & :hover {
        cursor: pointer;
    }
}

.showOnScroll {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 100;
    -webkit-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.19);
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.19);
}

.site-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: white;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.site-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $indigo;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.site-shutter-out-horizontal:hover, .site-shutter-out-horizontal:focus, .site-shutter-out-horizontal:active {
    a {
        color: white !important;

        &:hover {
            color: white !important;
        }
    }

    color: white;
}

.site-shutter-out-horizontal:hover:before, .site-shutter-out-horizontal:focus:before, .site-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@-webkit-keyframes slideDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideDown {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
}

@-webkit-keyframes slideUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
}


.same-height {
    display: flex;
    height: 300px !important;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        transition: transform .2s ease-in-out;
    }
}

.smaller-search-glass {
    padding: 5px 0 0 5px;
    transform: scale(0.75, 0.75);
}

.smaller-text {
    display: inline-block;
    text-align: center !important;
    font-size: 24px !important;
}

.social-icons {
    height: 30px;
    width: 30px;
    border: 1px solid $ultramarine;
}

.text-container {
    width: 100%;
}

.thank-you-image {
    width: 100%;
}

.visit-site-btn {
    display: inline-block;
    padding: 4px;
    width: 108px;
    text-align: center;
    font-weight: 700;
    border: 1px solid $ultramarine;
    background-color: #FFFFFF;
}

.voted {
    font-size: 12px;
    text-transform: uppercase;
}

a {
    &:link {
        text-decoration: none !important;
    }

    &:visited {
        text-decoration: none !important;
    }

    &:hover {
        text-decoration: none !important;
    }

    &:active {
        text-decoration: none !important;
    }
}

body {
    min-width: 320px;
    font-family: "Lucida Grande",Helvetica, Arial, Verdana;
}

h2 {
    display: inline-block;
    margin: 0 !important;
    padding-top: 15px;
}

input {
    border: none !important;

    &:focus {
        outline: none !important;
    }
}


ol {
    position: relative;
    vertical-align: text-top;
}

sup {
    font-size: 60% !important;
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1500px !important;
    }
}

@media screen and (max-width: 991px) {
    .images-container {
        padding: 10px !important;
        height: 100px !important;
    }

    .mobile-show-title {
        display: block;
    }

    .parallax {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        background-attachment: initial;
    }

    .page-title {
        padding: 0;
        text-shadow: 0px 0px 5px #000000 !important;
    }
}

@media screen and (max-width: 767px) {
    .hide-mobile {
        display: none;
    }

    .preview-image {
        max-height: 50px;
    }

    .show-mobile {
        display: block;
    }

    h1 {
        font-size: 26px !important;
    }
}

@media screen and (max-width: 547px) {
    .adrienne-wheeler {
        margin: 0 0 30px 0;
        padding-top: 20px;
    }

    .mobile-center {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 535px) {


    .drop-down-navigation {
        width: auto;
    }



    h1 {
        font-size: 26px !important;
    }

    h2 {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 414px) {
    .container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .item {
        padding-top: 30px;
    }

    .mobile-padding {
        padding-top: 55px;
    }

    .preview-image {
        max-height: 35px;
    }

    h2 {
        font-size: 22px !important;
    }
}

@media screen and (max-width: 375px) {
    .brand {
        margin-top: 5px;
        max-height: 55px;
        width: auto;
    }

    .center-image {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    .hide-mobile {
        display: none;
    }

    .navigation-image {
        max-height: 50px;
    }

    .show-mobile {
        padding-left: 10px !important;
    }
}

@media screen and (max-width: 320px) {
    .brand {
        padding-left: 0;
    }

    .show-mobile {
        padding-left: 5px !important;
    }

    h2 {
        font-size: 22px !important;
    }
}

body {
    font-size: 17px !important;
}

h3 {
    padding-top: 10px;
    color: $lightblue !important;
}

ul.cons {
    list-style: none;
}

ul.cons li {
    padding: 2px 0;
}

ul.cons li:before {
    margin-right: 10px;
    content: "-";
    border: 2px solid $indigo;
    padding: 0 4px;
    color: white;
    background-color: $crimsonsky;
}

ul.pros {
    list-style: none;
}

ul.pros li {
    padding: 2px 0;
}

ul.pros li:before {
    margin-right: 10px;
    content: "+";
    border: 2px solid $crimsonsky;
    padding: 0 3px;
    color: white;
    background-color: $indigo;
}
