/* line 1, ../../sass/partials/_base.scss */
body {
  font-size: 1em;
  color: #301424;
}

/* line 7, ../../sass/styles.scss */
.adrienne-wheeler {
  margin: 0 30px 30px 0;
  padding-top: 20px;
}

/* line 12, ../../sass/styles.scss */
.alternate-color {
  background-color: #FFFFFF;
}
/* line 15, ../../sass/styles.scss */
.alternate-color:nth-child(odd) {
  background-color: red;
}

/* line 20, ../../sass/styles.scss */
.amazon-button-container {
  padding: 10px;
  min-width: 60px;
  width: 100%;
  line-height: 16px;
  font-size: 16px;
  background: #CF6766;
}

/* line 29, ../../sass/styles.scss */
.animate-element {
  -webkit-animation-duration: .5;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 36, ../../sass/styles.scss */
.ask {
  padding-top: 5px;
  font-size: 25px;
  vertical-align: middle;
  text-transform: uppercase;
}

/* line 43, ../../sass/styles.scss */
.ask-btn {
  padding-top: 11px;
  max-width: 170px;
  background-color: #CF6766;
  border-left: 1px solid #8EAEBD;
  height: 60px;
  width: 100%;
}
/* line 51, ../../sass/styles.scss */
.ask-btn:hover {
  cursor: pointer;
}

/* line 56, ../../sass/styles.scss */
.backgroundFilter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
  z-index: 91;
}

/* line 65, ../../sass/styles.scss */
.border-bottom {
  border-bottom: 1px solid #8EAEBD;
}

/* line 69, ../../sass/styles.scss */
.brand {
  max-height: 60px;
  width: auto;
}

/* line 74, ../../sass/styles.scss */
.btn-container {
  padding-top: 20px;
}

/* line 78, ../../sass/styles.scss */
.category-image {
  margin: 0 auto;
  padding-top: 40px;
}

/* line 83, ../../sass/styles.scss */
.category-text {
  font-size: 10px !important;
  text-align: center;
}

/* line 88, ../../sass/styles.scss */
.center-image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* line 94, ../../sass/styles.scss */
.col-xs-6 {
  min-width: 200px;
}

/* line 97, ../../sass/styles.scss */
.contain-image {
  overflow: hidden;
}

/* line 101, ../../sass/styles.scss */
.container {
  padding-left: 60px !important;
  padding-right: 60px !important;
  background-color: white;
}

/* line 107, ../../sass/styles.scss */
.container-fluid {
  background-color: white;
}

/* line 111, ../../sass/styles.scss */
.date {
  font-weight: 600;
}

/* line 115, ../../sass/styles.scss */
.description {
  padding-top: 40px;
}

/* line 119, ../../sass/styles.scss */
.drop-down-navigation {
  position: absolute;
  top: 60px;
  left: 20px;
  padding: 0 20px 20px 20px;
  background: white;
  border-bottom: 1px solid #8EAEBD;
  border-left: 1px solid #8EAEBD;
  border-right: 1px solid #8EAEBD;
  border-radius: 5px;
  z-index: 100;
}

/* line 132, ../../sass/styles.scss */
.drop-down-title {
  font-size: 17px;
}

/* line 136, ../../sass/styles.scss */
.fa-caret-down {
  position: absolute;
  top: 20px;
}
/* line 140, ../../sass/styles.scss */
.fa-caret-down:hover {
  cursor: pointer;
}

/* line 145, ../../sass/styles.scss */
.fa-caret-up {
  color: #333;
  padding: 20px;
}
/* line 149, ../../sass/styles.scss */
.fa-caret-up:hover {
  cursor: pointer;
}

/* line 154, ../../sass/styles.scss */
.fa-search {
  display: inline-block;
  padding: 15px 20px 0 0;
}

/* line 159, ../../sass/styles.scss */
.fixed {
  position: fixed;
  width: 100%;
  z-index: 90;
}

/* line 165, ../../sass/styles.scss */
.flow-left {
  float: left;
}

/* line 169, ../../sass/styles.scss */
.footer {
  height: 100px;
  width: 100%;
  background-color: #30415D;
  color: white;
  font-size: 1.1rem;
}

/* line 177, ../../sass/styles.scss */
.full-width {
  display: flex;
  height: 205px;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform .2s ease-in-out;
}
/* line 185, ../../sass/styles.scss */
.full-width:hover {
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
}

/* line 191, ../../sass/styles.scss */
.flow-right {
  float: right;
}

/* line 195, ../../sass/styles.scss */
.heading-title {
  font-weight: 600;
}

/* Shutter Out Horizontal */
/* line 199, ../../sass/styles.scss */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 213, ../../sass/styles.scss */
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #CF6766;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 234, ../../sass/styles.scss */
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
}

/* line 238, ../../sass/styles.scss */
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 243, ../../sass/styles.scss */
.index-description {
  padding-top: 20px;
}

/* line 247, ../../sass/styles.scss */
.hide-mobile {
  padding: 0 !important;
}

/* line 251, ../../sass/styles.scss */
.horizontal-separator {
  margin-top: 40px;
  height: 1px;
  width: 100%;
  background-color: #30415D;
  opacity: 0.3;
}

/* line 259, ../../sass/styles.scss */
.image-item {
  margin: 0 auto;
  padding: 20px;
  max-height: 500px !important;
}

/* line 265, ../../sass/styles.scss */
.images {
  margin: 0 auto;
  max-height: 165px !important;
}

/* line 270, ../../sass/styles.scss */
.image-container {
  margin-top: 40px;
  -webkit-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.19);
}

/* line 277, ../../sass/styles.scss */
.images-container {
  width: 100%;
  padding: 40px 0;
  height: 190px !important;
}

/* line 283, ../../sass/styles.scss */
.item-title {
  padding-top: 55px;
}

/* line 287, ../../sass/styles.scss */
.indigo-background {
  background-color: #30415D;
}

/* line 291, ../../sass/styles.scss */
.inner-comparison {
  padding: 10px;
  min-width: 60px;
  line-height: 16px;
  font-weight: 500;
  color: #301424;
}

/* line 299, ../../sass/styles.scss */
.inner-container {
  padding: 10px;
  min-width: 60px;
  width: 100%;
  line-height: 16px;
  font-size: 16px;
  background-color: #CF6766;
}

/* line 308, ../../sass/styles.scss */
.inline-block {
  display: inline-block;
}

/* line 312, ../../sass/styles.scss */
.item {
  padding: 70px 0 0 20px;
}

/* line 316, ../../sass/styles.scss */
.links-extra {
  margin-left: -40px;
  padding: 10px 0;
  color: #8EAEBD;
}

/* line 322, ../../sass/styles.scss */
.location {
  display: block;
  height: 30px;
}

/* line 327, ../../sass/styles.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 331, ../../sass/styles.scss */
.maintenance {
  padding-top: 20%;
  text-align: center;
  font-size: 30px;
  color: white;
}

/* line 338, ../../sass/styles.scss */
.main-image-container {
  padding-top: 20px;
}

/* line 342, ../../sass/styles.scss */
.ml-n-40 {
  margin-left: -40px;
}

/* line 346, ../../sass/styles.scss */
.mobile-title-image {
  overflow: hidden;
}

/* line 351, ../../sass/styles.scss */
.mobile-show-title {
  display: none;
}

/* line 355, ../../sass/styles.scss */
.nav-image-container {
  text-align: center;
  width: auto;
  margin: 0 auto;
}

/* line 361, ../../sass/styles.scss */
.nav-links {
  display: block;
  padding: 0 20px;
}

/* line 366, ../../sass/styles.scss */
.navigation-image {
  display: inline-block;
  padding: 10px;
  width: auto;
  height: 60px;
}
/* line 372, ../../sass/styles.scss */
.navigation-image:hover {
  transform: scale(1.25, 1.25);
}

/* line 377, ../../sass/styles.scss */
.no-display {
  display: none;
}

/* line 381, ../../sass/styles.scss */
.not-exist {
  padding-top: 40px;
  text-align: center;
}

/* line 386, ../../sass/styles.scss */
.number-links {
  display: inline-block;
  margin-right: 2px;
  padding: 0 5px;
  border: 2px solid #CF6766;
  background-color: #30415D;
  color: white !important;
}
/* line 394, ../../sass/styles.scss */
.number-links a {
  color: white !important;
}

/* line 399, ../../sass/styles.scss */
.number-margin {
  margin-left: -20px;
}

/* line 403, ../../sass/styles.scss */
.own-line {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
}

/* line 409, ../../sass/styles.scss */
.parallax {
  height: 500px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 418, ../../sass/styles.scss */
.page-navigation {
  padding-bottom: 20px !important;
  list-style-type: none;
}

/* line 423, ../../sass/styles.scss */
.page-title {
  padding-top: 200px;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}

/* line 429, ../../sass/styles.scss */
.p-20 {
  padding: 20px;
}

/* line 433, ../../sass/styles.scss */
.pb-20 {
  padding-bottom: 20px;
}

/* line 437, ../../sass/styles.scss */
.pb-50 {
  padding-bottom: 50px;
}

/* line 441, ../../sass/styles.scss */
.pt-20 {
  padding-top: 20px;
}

/* line 445, ../../sass/styles.scss */
.pt-40 {
  padding-top: 40px;
}

/* line 449, ../../sass/styles.scss */
.pt-55 {
  padding-top: 55px;
}

/* line 453, ../../sass/styles.scss */
.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 458, ../../sass/styles.scss */
.p-tb-40 {
  padding: 40px 0 !important;
}

/* line 462, ../../sass/styles.scss */
.place-number {
  font-size: 16px;
}

/* line 466, ../../sass/styles.scss */
.place {
  font-size: 12px;
  text-transform: uppercase;
}

/* line 471, ../../sass/styles.scss */
.placement {
  text-transform: uppercase;
  color: white;
}

/* line 476, ../../sass/styles.scss */
.preview-image {
  max-height: 110px;
}

/* line 480, ../../sass/styles.scss */
.pt-15 {
  padding-top: 25px;
}

/* line 484, ../../sass/styles.scss */
.quick-links {
  display: inline-block;
  margin-top: 20px;
  padding: 0 20px 30px 20px;
  border: 1px solid #8EAEBD;
}

/* line 491, ../../sass/styles.scss */
.root-element {
  position: relative;
}

/* line 495, ../../sass/styles.scss */
.search {
  height: 60px;
}

/* line 499, ../../sass/styles.scss */
.search-input {
  display: inline-block;
  width: 100%;
}

/* line 504, ../../sass/styles.scss */
.separator {
  display: inline-block;
  height: 60px;
  width: 1px;
  background-color: #8EAEBD;
  box-sizing: border-box;
}

/* line 512, ../../sass/styles.scss */
.share-icons-container {
  padding-left: 20px;
  display: inline-block;
  padding-top: 20px;
}

/* line 518, ../../sass/styles.scss */
.show-mobile {
  display: none;
}
/* line 521, ../../sass/styles.scss */
.show-mobile :hover {
  cursor: pointer;
}

/* line 526, ../../sass/styles.scss */
.showOnScroll {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.19);
}

/* line 537, ../../sass/styles.scss */
.site-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 551, ../../sass/styles.scss */
.site-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #30415D;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 572, ../../sass/styles.scss */
.site-shutter-out-horizontal:hover, .site-shutter-out-horizontal:focus, .site-shutter-out-horizontal:active {
  color: white;
}
/* line 573, ../../sass/styles.scss */
.site-shutter-out-horizontal:hover a, .site-shutter-out-horizontal:focus a, .site-shutter-out-horizontal:active a {
  color: white !important;
}
/* line 576, ../../sass/styles.scss */
.site-shutter-out-horizontal:hover a:hover, .site-shutter-out-horizontal:focus a:hover, .site-shutter-out-horizontal:active a:hover {
  color: white !important;
}

/* line 584, ../../sass/styles.scss */
.site-shutter-out-horizontal:hover:before, .site-shutter-out-horizontal:focus:before, .site-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 615, ../../sass/styles.scss */
.slideDown {
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
/* line 646, ../../sass/styles.scss */
.slideUp {
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
}

/* line 652, ../../sass/styles.scss */
.same-height {
  display: flex;
  height: 300px !important;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  transition: transform .2s ease-in-out;
}
/* line 664, ../../sass/styles.scss */
.same-height:hover {
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
}

/* line 670, ../../sass/styles.scss */
.smaller-search-glass {
  padding: 5px 0 0 5px;
  transform: scale(0.75, 0.75);
}

/* line 675, ../../sass/styles.scss */
.smaller-text {
  display: inline-block;
  text-align: center !important;
  font-size: 24px !important;
}

/* line 681, ../../sass/styles.scss */
.social-icons {
  height: 30px;
  width: 30px;
  border: 1px solid #301424;
}

/* line 687, ../../sass/styles.scss */
.text-container {
  width: 100%;
}

/* line 691, ../../sass/styles.scss */
.thank-you-image {
  width: 100%;
}

/* line 695, ../../sass/styles.scss */
.visit-site-btn {
  display: inline-block;
  padding: 4px;
  width: 108px;
  text-align: center;
  font-weight: 700;
  border: 1px solid #301424;
  background-color: #FFFFFF;
}

/* line 705, ../../sass/styles.scss */
.voted {
  font-size: 12px;
  text-transform: uppercase;
}

/* line 711, ../../sass/styles.scss */
a:link {
  text-decoration: none !important;
}
/* line 715, ../../sass/styles.scss */
a:visited {
  text-decoration: none !important;
}
/* line 719, ../../sass/styles.scss */
a:hover {
  text-decoration: none !important;
}
/* line 723, ../../sass/styles.scss */
a:active {
  text-decoration: none !important;
}

/* line 728, ../../sass/styles.scss */
body {
  min-width: 320px;
  font-family: "Lucida Grande",Helvetica, Arial, Verdana;
}

/* line 733, ../../sass/styles.scss */
h2 {
  display: inline-block;
  margin: 0 !important;
  padding-top: 15px;
}

/* line 739, ../../sass/styles.scss */
input {
  border: none !important;
}
/* line 742, ../../sass/styles.scss */
input:focus {
  outline: none !important;
}

/* line 748, ../../sass/styles.scss */
ol {
  position: relative;
  vertical-align: text-top;
}

/* line 753, ../../sass/styles.scss */
sup {
  font-size: 60% !important;
}

@media screen and (min-width: 1600px) {
  /* line 758, ../../sass/styles.scss */
  .container {
    width: 1500px !important;
  }
}
@media screen and (max-width: 991px) {
  /* line 764, ../../sass/styles.scss */
  .images-container {
    padding: 10px !important;
    height: 100px !important;
  }

  /* line 769, ../../sass/styles.scss */
  .mobile-show-title {
    display: block;
  }

  /* line 773, ../../sass/styles.scss */
  .parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-attachment: initial;
  }

  /* line 781, ../../sass/styles.scss */
  .page-title {
    padding: 0;
    text-shadow: 0px 0px 5px #000000 !important;
  }
}
@media screen and (max-width: 767px) {
  /* line 788, ../../sass/styles.scss */
  .hide-mobile {
    display: none;
  }

  /* line 792, ../../sass/styles.scss */
  .preview-image {
    max-height: 50px;
  }

  /* line 796, ../../sass/styles.scss */
  .show-mobile {
    display: block;
  }

  /* line 800, ../../sass/styles.scss */
  h1 {
    font-size: 26px !important;
  }
}
@media screen and (max-width: 547px) {
  /* line 806, ../../sass/styles.scss */
  .adrienne-wheeler {
    margin: 0 0 30px 0;
    padding-top: 20px;
  }

  /* line 811, ../../sass/styles.scss */
  .mobile-center {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 535px) {
  /* line 820, ../../sass/styles.scss */
  .drop-down-navigation {
    width: auto;
  }

  /* line 826, ../../sass/styles.scss */
  h1 {
    font-size: 26px !important;
  }

  /* line 830, ../../sass/styles.scss */
  h2 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 414px) {
  /* line 836, ../../sass/styles.scss */
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  /* line 841, ../../sass/styles.scss */
  .item {
    padding-top: 30px;
  }

  /* line 845, ../../sass/styles.scss */
  .mobile-padding {
    padding-top: 55px;
  }

  /* line 849, ../../sass/styles.scss */
  .preview-image {
    max-height: 35px;
  }

  /* line 853, ../../sass/styles.scss */
  h2 {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 375px) {
  /* line 859, ../../sass/styles.scss */
  .brand {
    margin-top: 5px;
    max-height: 55px;
    width: auto;
  }

  /* line 865, ../../sass/styles.scss */
  .center-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  /* line 871, ../../sass/styles.scss */
  .hide-mobile {
    display: none;
  }

  /* line 875, ../../sass/styles.scss */
  .navigation-image {
    max-height: 50px;
  }

  /* line 879, ../../sass/styles.scss */
  .show-mobile {
    padding-left: 10px !important;
  }
}
@media screen and (max-width: 320px) {
  /* line 885, ../../sass/styles.scss */
  .brand {
    padding-left: 0;
  }

  /* line 889, ../../sass/styles.scss */
  .show-mobile {
    padding-left: 5px !important;
  }

  /* line 893, ../../sass/styles.scss */
  h2 {
    font-size: 22px !important;
  }
}
/* line 898, ../../sass/styles.scss */
body {
  font-size: 17px !important;
}

/* line 902, ../../sass/styles.scss */
h3 {
  padding-top: 10px;
  color: #8EAEBD !important;
}

/* line 907, ../../sass/styles.scss */
ul.cons {
  list-style: none;
}

/* line 911, ../../sass/styles.scss */
ul.cons li {
  padding: 2px 0;
}

/* line 915, ../../sass/styles.scss */
ul.cons li:before {
  margin-right: 10px;
  content: "-";
  border: 2px solid #30415D;
  padding: 0 4px;
  color: white;
  background-color: #CF6766;
}

/* line 924, ../../sass/styles.scss */
ul.pros {
  list-style: none;
}

/* line 928, ../../sass/styles.scss */
ul.pros li {
  padding: 2px 0;
}

/* line 932, ../../sass/styles.scss */
ul.pros li:before {
  margin-right: 10px;
  content: "+";
  border: 2px solid #CF6766;
  padding: 0 3px;
  color: white;
  background-color: #30415D;
}
